.loader-container {
  height: 100vh;
  width: 100vw;
  background: rgba(97, 97, 97, 0.502);
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  animation: loaderAnim 1s;
}

@keyframes loaderAnim {
  0% {
    opacity: 0;
  }
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-bottom: 4px solid #4d85f5;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
