.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(246, 246, 246);

  h1 {
    text-align: center;
    padding: 1em;
  }
  span {
    cursor: pointer;
    text-decoration: underline;
  }

  .login-page-form-container {
    width: clamp(250px, 350px, 95%);
  }

  .login-page-form {
    gap: 1em;
    display: grid;
    padding: 2em;
    background: white;
    animation: fadeIn 1s;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1.2em;
  }

  input {
    border: none;
    outline: none;
    border-radius: 3px;
    background: rgb(243, 242, 242);
    padding: 1em;
    transition: all 0.3s;
    width: 100%;
    font-weight: 600;
    &:focus,
    &:hover {
      box-shadow: 0px 0px 0px rgba(252, 252, 252, 0.115);
    }
  }

  .err-message {
    opacity: 0;
    font-size: 0.8em;
    color: red;
    transition: opacity 0.3s;
  }

  .is-error-true:not(:focus-within) {
    .err-message {
      opacity: 1;
    }
  }

  .switch-form {
    text-align: center;
    margin: 1em auto;
    span {
      font-weight: bold;
    }
  }

  .button-submit {
    background: rgb(74, 160, 245);
    font-size: 1.4em;
    padding: 0.5em 2em;

    width: fit-content;
    display: block;
    margin: 0.5em auto 0;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    border: none;
    transition: opacity 0.3s;

    &:disabled {
      opacity: 0.3;
    }

    &:enabled:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    position: relative;
    margin-top: -50px;
  }
}
